
body{
    background-color: rgb(166, 243, 217);
    font-size: 25px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    
    /* width: 500px;
    padding: 20px; */
}


h1{
    font-size: 3rem;
    /* text-align: center; */
}

.password-box{
    background-color: aliceblue;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #181818;
    padding: 20px;
    border-radius: 5px;
    /* width: 550px; */
    width: 100%;
}

.password{
    
    /* width: 300px; */
    width: 70%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 25px;
    background-color: transparent;
    border-bottom: 1px solid #181818;
}

.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 150px; */
    width: 30%;
}

i{
    margin-right: 10px;
    font-size: 40px;
    color: #181818;
    cursor: pointer;
}


.password-properties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 10px;
    border-bottom: 5px solid #181818;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}

.custom-properties{

    display: flex;
    gap: 5rem;
    /* justify-content: space-between; */
    /* align-items: center; */
   
}

.length{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textInput{
    height: 20px;
    width: 50px;
    font-size: large;
    padding: 1rem;
}

#numbers{
    font-size: larger;
}

.button{
    font-size: 1.7rem;
    margin: 10px;
    padding: 10px 20px;
    background-color: #181818;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (min-width: 768px){
    .container{
        max-width: 700px;
    }
}

@media (min-width: 576px) and (max-width:768px){
    .container{
        max-width: 768px;
    }

    h1{
        font-size: 2rem;
    }

    .custom-properties{

        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
}

@media (max-width: 576px){
    .container{
        max-width: 300px;
    }

    h1{
        font-size: 1.5rem;
    }

    .custom-properties{

        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
}
